   PORT=5000
   MONGO_URI=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
   JWT_SECRET=xxxxxxxxxxxxxxxxxxx
   CLIENT_URL=http://localhxost:5173
SERVER_PUBLIC_URL=http://localhosxt:5000x
   CLOUDINARY_CLOUD_NAME=xxxxxxxxxxxxxxxxx
   CLOUDINARY_API_KEY=xxxxxxxxxxxxxxx
   CLOUDINARY_API_SECRET=xxxxxxxxxxxxxxxxx
   ADMIN_EMAIL=xxxxxxxxxxxx
   ADMIN_PASSWORD=xxxxxxx

   SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=
CONTACT_EMAIL=your-email@gmail.com


# Email Configuration (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=xxxxxxxxxxxxxxxxxxx
SMTP_PASS=xxxxxxxxxxxxxxxxxxxxxx

# Contact Form
CONTACT_EMAIL=xxxxxxxxxxxxxxxxxxxxxxxxx
SITE_NAME= xxxxxxxxxxxxxxxxxxxxxxxxxxxxx