   PORT=5000
   MONGO_URI=mongodb://127.0.0.1:27017/portfolio
   JWT_SECRET=a3678ffabae7c92345a4ba992503a2509e379d4e
   CLIENT_URL=http://localhost:5173
SERVER_PUBLIC_URL=http://localhost:5000
   CLOUDINARY_CLOUD_NAME=doyxte1wf
   CLOUDINARY_API_KEY=346829926319924
   CLOUDINARY_API_SECRET=3PaHPkYrPNpEN5Sqoqm-wNCc-6E
   ADMIN_EMAIL=admin@gmail.com
   ADMIN_PASSWORD=Nihal@12345